body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: var(--main-theme-color);
  margin: 0;
  min-height: 64px;
  margin-bottom: 4em;
}

.rowcontainer {
  display: flex;
  flex-direction: row;
}

.columncontainer {
  display: flex;
  flex-direction: column;
}

#page-wrapper {
  height: 80vh;
  margin-top: 5vh;
}

#page-container {
  background-color: #ececec;
  height: 200px;
  width: 80vw;
  margin: auto;
  display: flex;
  height: 100%;
  overflow: hidden;
  border-radius: 1em;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

#addPolicy {
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addPolicyButton {
  background-color: skyblue;
  height: 60%;
  width: 60%;
}

#policyList {
  flex: 80%;
  overflow-y: scroll;
  padding: 30px;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.policyentry {
  height: 100px;
  border: 2px solid gray;
  margin-top: 10px;
  background-color:skyblue;
  text-align: left;
  border-radius: 1em;
  padding: .5em;
}

.selectedentry {
  background-color:skyblue;
}

#PolicyDisplayScreen {
  display: flex;
  align-items: center;
  justify-content: center;
}


#policyview {
  width: 90%;
  height: 90%;
  border: 0;
  border-radius: 1em;
}

.page-view {
  height: 200px;
  width: 80vw;
  margin: auto;
  display: flex;
  height: 100%;
  overflow: hidden;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

.flex-60 {
  flex: 60%;
}

.flex-50 {
  flex: 50%;
}

.flex-40 {
  flex: 40%;
}

.tabpanel {
  height: calc(100% - 50px)
}

#credentials-list {
  flex: 80%;
  overflow-y: scroll;
  padding: 30px;
}
