@property --main-theme-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #1976d2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: var(--main-theme-color);
  margin: 0;
  height: 3em;
}

.rowcontainer {
  display: flex;
  flex-direction: row;
}

.columncontainer {
  display: flex;
  flex-direction: column;
}

.equalcolumns {
  flex: 50%;
}


#policypage {
  height: 80vh;
  margin-top: 5vh;
}

#policymanagementcontainer {
  background-color: #fffbe4;
  height: 200px;
  width: 80vw;
  margin: auto;
  display: flex;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
}

#addPolicy {
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addPolicyButton {
  height: 60%;
  width: 60%;
}

#policyList {
  flex: 80%;
  overflow-y: scroll;
  padding: 30px;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    /* background: #FF0000; */
}

.policyentry {
  height: 100px;
  border: 2px solid gray;
  margin-top: 10px;
  background-color:skyblue;
  text-align: left;
  border-radius: 1em;
  padding: .5em;
}

.selectedentry {
  background-color:lightblue;
}

#PolicyDisplayScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 60%;
}


#policyview {
  width: 90%;
  height: 90%;
}

#PolicyListContainer {
  flex: 40%;
}
